/************** Default ****************/
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
/* font-family: 'Hind', sans-serif; */

html, body {font-family: 'Hind', sans-serif; font-size: 15px; height: 5000px;}

.wrapper {max-width: 1564px; margin: auto; margin-bottom: 6px; padding: 32px;}
h3.title {font-size: 25px; border-bottom: 1px solid #eee; padding: 8px 0; margin-bottom: 40px;}

/************** header-wrapper ****************/
.header-wrapper {padding: 8px 18px; position: fixed; top: 0; left: 0; width: 100%; box-shadow: 0 0 10px rgba(0, 0, 0, .7); background-color: #fff; z-index: 999;}
.header-wrapper h3.logo {float: left; padding: 6px 16px; letter-spacing: 4px;}
.header-wrapper h3.logo:hover {background-color: #ccc;}
.header-wrapper .navi-wrap {float: right;}
.header-wrapper .navi-wrap .navi {float: left; padding: 6px 16px; font-size: 17px; letter-spacing: 4px;}
.header-wrapper .navi-wrap .navi:hover {background-color: #ccc;}

/************** main-wrapper ****************/
.main-wrapper .img-wrapper {position: relative; top: 0; left: 0; max-width: 1500px; margin: auto; margin-bottom: 30px;} 
.main-wrapper .img-wrapper .slogan-wrap {position: absolute; font-size: 36px; color: #fff; top: 48%; left: 42%; letter-spacing: 4px; text-align: center;}
.main-wrapper .img-wrapper .slogan-wrap .br {background-color: #000; padding: 2px 16px; opacity: .7;}

/************** projects-wrapper ****************/
.projects-wrapper .imgs-wp1 {margin-bottom: 18px;}
.projects-wrapper .img-wp {width: 23.875%; float: left; position: relative;} 
.projects-wrapper .imgs-wp > .img-wp:nth-child(2) {margin: 0 1.5%;} 
.projects-wrapper .imgs-wp > .img-wp:nth-child(3) {margin-right: 1.5%;} 
.projects-wrapper .imgs-wp .img-wp .house-name {background-color: #000; color: #fff; font-size: 18px; position: absolute; top: 0; left: 0; padding: 4px 16px;}

/************** about-wrapper ****************/
.about-wrapper .wrapper h3.title {margin-bottom: 16px;}
.about-wrapper .wrapper p.content {font-size: 18px; line-height: 1.2;}

/************** contact-wrapper ****************/


/************** footer-wrapper ****************/

